{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Organic</title>

</head>

<body>

  {% block content %}

    <section class="hero">
      <div class="hero-text">
        <h2>Super<br>Mercado<br>Atacado</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
        <button>Shop Now</button>
      </div>
      <img src="{% static 'img/main-photo.jpg' %}" />
    </section>

    <section class="products">
      <h3>Nossos produtos</h3>

      <div class="product-grid">
        <div class="card">
          <img src="https://images.unsplash.com/photo-1567306226416-28f0efdc88ce" />
          <p>Maçã(kg)<br>R$5</p>
        </div>

        <div class="card">
          <img src="{% static '/img/arroz.jpg' %}" />
          <p>Arroz branco<br>R$6</p>
        </div>

        <div class="card">
          <img src="{% static '/img/leite.jpg' %}" />
          <p>Leite<br>R$9</p>
        </div>

        <div class="card">
          <img src="{% static '/img/queijo.jpg' %}" />
          <p>Queijo Mussarela<br>R$8</p>
        </div>
      </div>
    </section>

    <section class="banner">
      <div class="banner-box">
        <h4>Vegetais Organicos</h4>
        <img src="{% static '/img/vegetais.jpg' %}" />
      </div>

      <div class="banner-box">
        <h4>Natural e saudável</h4>
        <img src="{% static '/img/saudavel-natural.jpg' %}" />
      </div>
    </section>

    {% endblock content %}

  </div>
</body>
</html>