{% extends 'base.html' %}

{% block content %}

<section class="hero">
    <div class="overlay"></div>
    <div class="hero-text">
        <span class="collection">COLEÇÃO OUTONO/INVERNO 2026</span>
        <h1>Elegância Atemporal</h1>
        <button class="btn-outline">EXPLORAR</button>
    </div>
</section>

<section class="products">
    <span class="section-sub">CURADORIA</span>
    <h2>Peças Selecionadas</h2>

    <div class="grid">
        <div class="card">
            <div class="tag">NOVO</div>
            <img src="https://images.unsplash.com/photo-1521334884684-d80222895322">
            <p>Camisa Linho Branca</p>
            <span>R$ 289,00</span>
        </div>

        <div class="card">
            <div class="tag dark">DESTAQUE</div>
            <img src="https://images.unsplash.com/photo-1542060748-10c28b62716f">
            <p>Casaco Camel Lã</p>
            <span>R$ 899,00</span>
        </div>
    </div>

</section>

{% endblock %}
