{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Produtos</title>

</head>

<body>

  {% block content %}

  <div class="container-menor">

    <h1>Produtos do Supermercado</h1>

    <div class="product-grid">

      <div class="card">
        <img src="https://images.unsplash.com/photo-1567306226416-28f0efdc88ce" />
        <h3>Maçã</h3>
        <p class="price">R$ 5,99/kg</p>
        <button class="btn">Adicionar</button>
      </div>

      <div class="card">
        <img src="https://images.unsplash.com/photo-1587049352851-8d4e89133924" />
        <h3>Mel</h3>
        <p class="price">R$ 18,90</p>
        <button class="btn">Adicionar</button>
      </div>

      <div class="card">
        <img src="{% static '/img/brocolis.jpg' %}" />
        <h3>Brócolis</h3>
        <p class="price">R$ 7,50</p>
        <button class="btn">Adicionar</button>
      </div>

      <div class="card">
        <img src="{% static '/img/queijo.jpg' %}" />
        <h3>Queijo Mussarela</h3>
        <p class="price">R$ 8,00</p>
        <button class="btn">Adicionar</button>
      </div>

      <div class="card">
        <img src="{% static '/img/abacate.jpg' %}" />
        <h3>Abacate</h3>
        <p class="price">R$ 6,80</p>
        <button class="btn">Adicionar</button>
      </div>

      <div class="card">
        <img src="{% static '/img/arroz.jpg' %}" />
        <h3>Arroz</h3>
        <p class="price">R$ 6,00</p>
        <button class="btn">Adicionar</button>
      </div>

      <div class="card">
        <img src="{% static '/img/leite.jpg' %}" />
        <h3>Leite</h3>
        <p class="price">R$ 9,00</p>
        <button class="btn">Adicionar</button>
      </div>

      <div class="card">
        <img src="{% static '/img/pao.jpg' %}" />
        <h3>Pão</h3>
        <p class="price">R$ 8,50</p>
        <button class="btn">Adicionar</button>
      </div>

    </div>

  </div>

  {% endblock content %}

</body>
</html>
